# Ignore hidden system files
.DS_Store
Thumbs.db

# Ignore output, checkpoints, and backups
__pycache__/
*.ipynb_checkpoints
*.zip
*.html

# VS Code settings
.vscode/

# Large or temp files
*.log
*.tmp
output/
